:root {
  --text-color: #2e2e2e;
  --title-color: #222222;
  --list-border-color: #434242;
  --background-color: #f3efe0;
  --btn-text-color-hover: #f5f5f5;
  --btn-color: #22A39F;
  --btn-color-hover:#0e6e6b;
  --icon-color: invert(94%) sepia(9%) saturate(527%) hue-rotate(332deg) brightness(105%) contrast(91%);
  --icon-color-hover: invert(0%) sepia(0%) saturate(7500%) hue-rotate(180deg) brightness(102%) contrast(106%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}

img {
  width: 100%;
  border-radius: 3px;
}

p,
li {
  /* 16pt */
  font-size: 14pt;
}

ol li::before {
  font-weight: 700;
}

ol {
  border: var(--list-border-color) solid 1px;
}

footer {
  background-color: #f3efe0;
}

.blog-item {
  margin-top: 20px;
}

.flex {
  display: flex;
  justify-content: center;
}

.blog-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.blog-under-title {
  font-weight: 700;
  color: var(--title-color);
}

#title,
#blog-title,
#instruction-title,
#ingredient-title {
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  color: var(--title-color);
}

#name-title {
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
}

#title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#title-container,
#footer-container {
  background-color: var(--background-color);
}

#footer-container {
  margin-top: 30px;
}

#copyright {
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;

}

#download-btn {
  width: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--background-color);
  background-color: var(--btn-color);
}

#download-btn:hover {
  background-color: var(--btn-color-hover);
}

#download-icon-btn {
  width: 16px;
  filter: var(--icon-color);
}

#btn-container {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 850px) {
  .test {
    margin-top: 10px;
  }
  .blog-image {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}
