* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2e2e2e;
}

header {
  display: flex;
  height: 80px;
  text-align: left;
  background-color: #f3efe0;
}

main{
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  display: flex;
  height: 100px;
  background-color: #f3efe0;
  align-items: center;
  justify-content: center;
}

footer p {
  display: inline;
  margin: auto 2%;
  font-size: 16pt;
  font-weight: 700;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: inherit;
}

.button {
  
}

#home {
  margin: auto 15px;
  font-weight: 700;
  font-size: 24pt;
}

#title {
  margin-left: 2%;
}
