* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #2e2e2e;
  
}

img {
  width: 100%;
  border-radius: 3px;
}

p, li{
  font-size: 16pt;
}

ol li::before{
  font-weight: 700;
}

ol {
  border: #434242 solid 1px;
}

footer{
  background-color: #F3EFE0;
}

.blog-item {
  margin-top: 20px;
}

.blog-image {
  width: 75%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.blog-under-title {
  font-weight: 700;
  color: #222222;
}

#title, 
#blog-title, 
#instruction-title,
#ingredient-title{
  margin-top: 15px;
  text-align: center;
  font-weight: 700;
  color: #222222;
}

#name-title{
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
}

#title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

#title-container {
  background-color: #F3EFE0;
}
